$whiteTextColor: #FFFFFF;
$blackTextColorForGroup: #333333;
$blackTextColor: #434A54;
$grayTextColor: #999999;
$blueColor: #38AEF0;
$grayColor: #AAAAAA;
$darkerblueColor: #253141;
$darkblueColor: #2f3e51;
$borderColor: #eeeeee;
$orangeColor: #F35500;
